
.idea/*
.cmake-build-debug/*
cmake-build-debug/*
cmake-build-debug/.cmake/api/v1/query/cache-v2
CMakeLists.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/Big_Real
CMakeLists.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/Big_Real
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.DS_Store
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
CMakeLists.txt
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/Big_Real
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.DS_Store
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.PVS-Studio/depend_info.json
.PVS-Studio/logs/BigDecimalIntClass.cpp.1.log
.PVS-Studio/logs/BigRealClass.cpp.2.log
.PVS-Studio/logs/main.cpp.3.log
